
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TheMaster</title>
    @RenderSection("HeaderScripts",false)
</head>
<body>
    <div style="text-align: center; margin-bottom: 20px;"><h1>BANNER</h1></div>
    <div style="margin: 0 auto; width: 75%;">
        @RenderBody()        
    </div>
</body>
</html>
